<div class="card">
  <div class="card-block">
    <h3 class="card-title">Order filters</h3>
    <form class="form-inline" [formGroup]="myForm" (ngSubmit)="applyFilter(myForm.value)">
        <div class="form-group">
          <label for="orderType">Order type: </label>
          <select id="orderType" name="orderType" class="form-control" [formControl]="myForm.controls['orderType']">
            <option value="customer">Customer</option>
            <option value="company">Company</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cityFrom">From(city): </label>
          <select id="cityFrom" name="cityFrom" class="form-control" [formControl]="myForm.controls['cityFrom']">
            <option value=""></option>
            <option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cityTo">To(city): </label>
          <select id="cityTo" name="cityTo" class="form-control" [formControl]="myForm.controls['cityTo']">
            <option value=""></option>
            <option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Find</button>
          </div>
        </div>
      </form>
  </div>
</div>