<div class="card">
  <div class="card-block">
    <h3 class="card-title">Order filters</h3>
    <form class="form-inline" [formGroup]="myForm" (ngSubmit)="applyFilter(myForm.value)">
        <div class="form-group">
          <label for="orderType">Order type: </label>
          <select id="orderType" name="orderType" class="form-control" [formControl]="myForm.controls['orderType']">
            <option value="customer">Customer</option>
            <option value="company">Company</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">City: </label>
          <select id="city" name="city" class="form-control" [formControl]="myForm.controls['city']">
            <option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Find</button>
          </div>
        </div>
      </form>
  </div>
</div>