<div class="signup-form">
  <div class="card">
    <div class="card-block">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group" [ngClass]="{'has-danger': userForm.controls['firstName'].touched && !userForm.controls['firstName'].valid}">
          <label for="firstName">First name</label>
          <input id="firstName" name="firstName" class="form-control" type="text" placeholder="First name" [formControl]="userForm.controls['firstName']"  />
          <div class="form-control-feedback" *ngIf="userForm.controls['firstName'].touched && !userForm.controls['firstName'].valid">First name can not be blank.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': userForm.controls['lastName'].touched && !userForm.controls['lastName'].valid}">
            <label for="lastName">Last name</label>
            <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Last name" [formControl]="userForm.controls['lastName']"  />
            <div class="form-control-feedback" *ngIf="userForm.controls['lastName'].touched && !userForm.controls['lastName'].valid">Last name can not be blank.</div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': userForm.controls['userEmail'].touched && !userForm.controls['userEmail'].valid}">
            <label for="userEmail">Email</label>
            <input id="userEmail" name="userEmail" class="form-control" type="email" placeholder="email@example.com" [formControl]="userForm.controls['userEmail']"  />
            <div class="form-control-feedback" *ngIf="userForm.controls['userEmail'].touched && !userForm.controls['userEmail'].valid">Email can not be blank.</div>
        </div>
        <div [formGroup]="userForm.controls.passwords">
            <div class="form-group" [ngClass]="{'has-danger': userForm.controls.passwords.controls['password'].touched && !userForm.controls.passwords.controls['password'].valid}">
                <label for="userpassword">Password</label>
                <input id="userpassword" name="userpassword" class="form-control" type="password" [formControl]="userForm.controls.passwords.controls['password']"/>
                <div class="form-control-feedback" *ngIf="userForm.controls.passwords.controls['password'].touched && !userForm.controls.passwords.controls['password'].valid">Password can not be bank.</div>
                <div class="form-control-feedback" *ngIf="userForm.controls.passwords.controls['repeat'].touched && userForm.controls.passwords.errors?.passwordConf">Password not match.</div>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': userForm.controls.passwords.controls['repeat'].touched && userForm.controls.passwords.controls['repeat'].errors?.required}" >
                <label for="passwordrepeat">Password repeat</label>
                <input id="passwordrepeat" name="passwordrepeat" class="form-control" type="password" [formControl]="userForm.controls.passwords.controls['repeat']"/>
                <div class="form-control-feedback" *ngIf="userForm.controls.passwords.controls['repeat'].touched && userForm.controls.passwords.controls['repeat'].errors?.required">Password repeat can not be blank</div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!userForm.valid" type="submit">Save</button>
        <button class="btn btn-primary" (click)="cancel()" type="button">Cancel</button>
      </form>
    </div>
  </div>
<div>